//Prodcuct filters

//SEARCH
@mixin i-label{
    width: 100%;
    font-size: $h5-size;
    color:$white-color;
}
@mixin variant-style {
    margin: 10px 0;
    width: 100%;
    position: relative;
}
form.page-action{
    width: 100%;
    height: auto;
    .search-container{
        min-height: 60px;
        box-sizing: border-box;
        label{
            width: 5%;
            height: 60px;
            background-color: $primary-color;
            i{
                @include i-label;
                @include transition-default;
                @include less-opacity;
                text-align: center;
            }
        }
        label.filter{
            width: 20%;
            cursor: pointer;
            color:$white-color;
            text-transform: uppercase;
            @include transition-default;
        }
        label.filter:hover,
        label.filter.active{
            color:$sub-color;
        }
        label:first-child{
            i{
                opacity: 1;
            }
            @include radius-left;
        }
        input{
            width: 70%;
            height: 60px;
            background-color: $primary-color;
            color:$white-color;
        }
        button{
            width: 5%;
            height: 60px;
            font-size: $h5-size;
            position: relative;
            background: $primary-color;
            @include radius-right;

            i{
                @include i-label;
                @include transition-default;
                @include less-opacity;
            }
        }
        button:hover{
            i{
                color:$sub-color;
                opacity: 1;
            }
        }
    }
    .filter-container{
        height: auto;
        box-sizing: border-box;
        border:2px solid $primary-color;
        background-color: $light-color;
        display: none;
        @include radius-all;
        .grid-el{
            padding: 0 10px;
        }
        .variant{
            @include variant-style;
        }
    }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    form.page-action{
        .search-container{
            label{
                width: 15%;
                @include radius-none;
                i{
                    font-size: $p-size;
                }
            }
            label:first-child{
                @include radius-none; 
                @include radius-top-left;
            }
            label.filter{
                width: 80%;
                @include radius-bottom-left;
            }
            input{
                width: 85%;
                @include radius-none;
                @include radius-top-right;
            }

            button{
                width: 20%;
                @include radius-none;
                @include radius-bottom-right;
            }
        }
        .filter-container{
            height: auto;
            box-sizing: border-box;
            border:2px solid $primary-color;
            background-color: $light-color;
            display: none;
            @include radius-all;
            .grid-el{
                padding: 0 10px;
            }
            .variant{
                @include variant-style;
            }
        }
    }

}
@media only screen and (max-width: 768px) {

}

// /* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {

}


// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px){
}