
@mixin radius-top-left {
    border-radius: 5px 0px 0px 0px !important;
    -moz-border-radius: 5px 0px 0px 0px !important;
    -webkit-border-radius: 5px 0px 0px 0px !important;
}

@mixin radius-top-right {
    border-radius: 0px 5px 5px 0px !important;
    -moz-border-radius: 0px 5px 5px 0px !important;
    -webkit-border-radius: 0px 5px 0px 0px !important;
}

@mixin radius-bottom-left {
    border-radius: 0px 0px 0px 5px !important;
    -moz-border-radius: 0px 0px 0px 5px !important;
    -webkit-border-radius: 0px 0px 0px 5px !important;
}

@mixin radius-bottom-right {
    border-radius: 0px 0px 5px 0px !important;
    -moz-border-radius: 0px 0px 5px 0px !important;
    -webkit-border-radius: 0px 0px 5px 0px !important;
}

@mixin radius-left {
    border-radius: 5px 0px 0px 5px !important;
    -moz-border-radius: 5px 0px 0px 5px !important;
    -webkit-border-radius: 5px 0px 0px 5px !important;
}

@mixin radius-right {
    border-radius: 0px 5px 5px 5px !important;
    -moz-border-radius: 0px 5px 5px 0px !important;
    -webkit-border-radius: 0px 5px 5px 0px !important;
}

@mixin radius-top {
    border-radius: 0px 5px 5px 5px !important;
    -moz-border-radius: 0px 5px 5px 0px !important;
    -webkit-border-radius: 0px 5px 5px 0px !important;
}

@mixin radius-bottom {
    border-radius: 0px 0px 5px 5px !important;
    -moz-border-radius: 0px 0px 5px 5px !important;
    -webkit-border-radius: 0px 0px 5px 5px !important;
}
@mixin radius-all {
    border-radius: 5px;
}

@mixin less-opacity {
    opacity: .7;
}