



@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
@import 'reset';
@import 'typography';
@import 'colors';
@import 'componets-style';
body{
    font-family: 'Oswald', sans-serif;
}

//POSITION
@mixin fixed-pos {
    position: fixed;
    top:0;
    left:0;
}
@mixin absolute-pos {
    position: absolute;
    top:0;
    left:0;
}

//FLEX
@mixin flex-default {
    display:flex;
    flex-wrap: wrap;
}

//IMAGES
@mixin image-default {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//ANIMATION
@mixin transition-default {
    transition: .2s all ease-out;
}

//STYLES




.row{
    @include flex-default;
    flex-direction: row;
}
.column{
    @include flex-default;
    flex-direction: column;   
}
.center-all{
    @include flex-default;
    justify-content: center;
    align-items: center;
}
.horizontal-center{
    @include flex-default;
    justify-content: center;
}
.vertical-center{
    @include flex-default;
    align-items: center;
}
.between{
    @include flex-default;
    justify-content: space-between;
}
.end{
    justify-content: flex-end;
}
//CONTAINERS
.container-full{
    width:100%;
    height:auto;
    @include flex-default;
    justify-content:center;
    position:relative;
    box-sizing:border-box;
    background-position:center center;
    background-size:cover;
    padding: 0 10vw;
}
.container{
    width: 100%;
    height: auto;
    position: relative;
    @include flex-default;
}

//MARGINS
.margin-top-100{
    margin-top: 100px;
}
.margin-top-45{
    margin-top: 45px;
}

.margin-vertical-45{
    margin: 45px 0;
}

//PADDINGS
.padding-10{
    padding: 10px;
}
.no-padding{
    padding: 0;
}

//HEADER
header.header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid $light-color;
    z-index: 10;
    background-color: $white-color;
    @include fixed-pos;

    & a.logo{
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 800;
    }
}

//STONKS

.stonks{
    margin-top: 100px;
    height: 500px;
    background-color: $light-color;
    & .stonks-wrapper{
        width: 100%;
    }
}
//SEARCH
@mixin i-label{
    width: 100%;
    font-size: $h5-size;
    color:$white-color;
}
form.page-action{
    width: 100%;
    height: auto;

    .search-container{
        min-height: 60px;
        box-sizing: border-box;
        label{
            width: 5%;
            height: 60px;
            background-color: $primary-color;
            i{
                @include i-label;
                @include transition-default;
                @include less-opacity;
            }
        }
        label.active{
            i{
                opacity: 1;
                color:$sub-color;
            }
        }
        label.filter{
            cursor: pointer;
        }
        label.filter:hover{
            i{
                color:$sub-color;
                opacity: 1;
            }
        }
        label:first-child{
            @include radius-top-left;
            i{
                opacity: 1;
            }
        }
        input{
            width: 85%;
            height: 60px;
            background-color: $primary-color;
            color:$white-color;
        }
        button{
            width: 5%;
            height: 60px;
            font-size: $h5-size;
            position: relative;
            background: $primary-color;
            @include radius-top-right;

            i{
                @include i-label;
                @include transition-default;
                @include less-opacity;
            }
        }
        button:hover{
            i{
                color:$sub-color;
                opacity: 1;
            }
        }
    }
    .filter-container{
        height: auto;
        box-sizing: border-box;
        border:2px solid $primary-color;
        background-color: $light-color;
        display: none;
        @include radius-bottom;
        .grid-el{
            padding: 0 10px;
        }
        .variant{
            margin: 10px 0;
            width: 100%;
            position: relative;
        }
    }
}
//PRODUCT-LIST
.product-el{
    min-height: 350px;
    
    box-sizing: border-box;
    transition: .2s all ease-out;

    & .image-wrap{
        width: 100%;
        height: 300px;
        position: relative;
        & img{
            @include image-default;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    .info-wrap{
        width: 100%;
        min-height: 50px;
        box-sizing: border-box;
        position: relative;
        background-color: $light-color;
        color: $primary-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
        & .info-main{
            width: 100%;
            position: relative;
            & p.price{
                font-weight: 400;
                color:$sub-color;
            }
        }
    }
}
.product-el:hover{
    transform: scale(1.05);
}


//FOOTER
footer.footer{
    width: 100%;
    height: 300px;
    background-color: $primary-color;
    clear: both;
    & *{
        color:$white-color;
    }
}